<div class="landing-banner">
  <div class="banner-content">
    <h1>Fullstack Web <br> Developer</h1>
    <p>Ruby on Rails, HTML5, CSS3 and Javascript among others</p>
    <h3>Specialise in building beautiful, responsive websites
      <br> and dynamic web applications</h3>
  </div>
</div>
