<div class="navbar-fixed top">
  <div class="navbar">
    <a href="">About</a>
    <a href="">Skills</a>
    <a href="">Projects</a>
    <a href="">Articles</a>
    <a href="">Contact</a>
  </div>
</div>
